{% extends 'base.html' %}

{% block tytle %}Title of site{% endblock %}
{% block content %}

<div class="carousel slide" data-ride="carousel" id="slides">
  <ul class ="carousel-indicators">
    <li data-target="#slides" data-slide-to="0" class="active"></li>
    <li data-target="#slides" data-slide-to="1"></li>
    <li data-target="#slides" data-slide-to="2"></li>
  </ul>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://images.wallpapersden.com/image/download/joker-2019-movie-8k_66791_1920x1080.jpg">
      <div class="carousel-caption">
        <h1 class="display-2">Joker</h1>
        <h3>Не сойди с ума в процессе разработки сайта</h3>
        <button type="button" class="btn btn-outline-light btn-lg">Look</button>
        <button type="button" class="btn btn-warning btn-lg">Trailer</button>
      </div>
    </div>
    <div class="carousel-item">
      <img src="http://thumbs.dfs.ivi.ru/storage4/contents/8/5/25df26b4ff265c284df18453f62ac7.jpg">
      <div class="carousel-caption">
        <h1 class="display-2">Дитя Погоды</h1>
        <h3>Вот сдадим этот сайт все наладится</h3>
        <button type="button" class="btn btn-outline-light btn-lg">Look</button>
        <button type="button" class="btn btn-warning btn-lg">Trailer</button>
      </div>
    </div>
    <div class="carousel-item">
      <img src="https://tengrinews.kz/userdata/news/2019/news_374121/photo_286797.png">
      <div class="carousel-caption">
        <h1 class="display-2">Томирис</h1>
        <h3>Во имя стипендий</h3>
        <button type="button" class="btn btn-outline-light btn-lg">Look</button>
        <button type="button" class="btn btn-warning btn-lg">Trailer</button>
      </div>
    </div>
  </div>
</div>

<br>
<br>
<div class="container-fluit padding">
  <div class="row alert text-center">
    <div class="col-12">
      <div class="card">
        <h1 class = "display">New Movies</h1>
      </div>
    </div>
  </div>
</div>

<div class="container-fluit padding">
  <div class="row padding">
    <div class="col-lg-3 col-sm-6">
      <div class="card">
        <img src="https://m.media-amazon.com/images/M/MV5BYmY3NGJlYTItYmQ4OS00ZTEwLWIzODItMjMzNWU2MDE0NjZhXkEyXkFqcGdeQXVyMzQzMDA3MTI@._V1_.jpg" class="card-img-top">
      </div>
      <div class="card-vody">
        <h4 class="card-title danger">R</h4>
        <p>Years following the events of "The Shining," a now-adult Dan Torrance must protect a young girl with similar powers from a cult known as The True Knot, who prey on children with powers to remain immortal.</p>
        <a href="#" class="btn btn-warning">Go</a>
      </div>
    </div>
      <div class="col-lg-3 col-sm-6">
        <div class="card">
          <img src="https://m.media-amazon.com/images/M/MV5BZjJiYTExOTAtNWU0Yi00NzJjLTkwOTgtOTU2NWM1ZjJmYWVhXkEyXkFqcGdeQXVyMTkxNjUyNQ@@._V1_.jpg" class="card-img-top">
        </div>
        <div class="card-vody">
          <h4 class="card-title">R</h4>
          <p>Years following the events of "The Shining," a now-adult Dan Torrance must protect a young girl with similar powers from a cult known as The True Knot, who prey on children with powers to remain immortal.</p>
          <a href="#" class="btn btn-warning">Go</a>
        </div>
      </div>
        <div class="col-lg-3 col-sm-6">
          <div class="card">
            <img src ="https://www.film.ru/sites/default/files/movies/posters/32705014-1121453.jpg" class="card-img-top">
          </div>
          <div class="card-vody">
            <h4 class="card-title danger">R</h4>
            <p>Years following the events of "The Shining," a now-adult Dan Torrance must protect a young girl with similar powers from a cult known as The True Knot, who prey on children with powers to remain immortal.</p>
            <a href="#" class="btn btn-warning">Go</a>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <div class="card">
            <img src ="https://www.kinopoisk.ru/images/film_big/942396.jpg" class="card-img-top">
          </div>
          <div class="card-vody">
            <h4 class="card-title danger">R</h4>
            <p>Years following the events of "The Shining," a now-adult Dan Torrance must protect a young girl with similar powers from a cult known as The True Knot, who prey on children with powers to remain immortal.</p>
            <a href="#" class="btn btn-warning">Go</a>
          </div>
        </div>
  </div>

</div>
<hr>
<div class="container-fluit padding">
  <div class="row padding">
    <div class="col-lg-3 col-sm-6">
      <div class="card">
        <img src="https://www.kinopoisk.ru/images/film_big/1047883.jpg" class="card-img-top">
      </div>
      <div class="card-vody">
        <h4 class="card-title danger">R</h4>
        <p>Years following the events of "The Shining," a now-adult Dan Torrance must protect a young girl with similar powers from a cult known as The True Knot, who prey on children with powers to remain immortal.</p>
        <a href="#" class="btn btn-warning">Go</a>
      </div>
    </div>
      <div class="col-lg-3 col-sm-6">
        <div class="card">
          <img src="https://hungry-bags.ru/shop/upload/273271.jpg" class="card-img-top">
        </div>
        <div class="card-vody">
          <h4 class="card-title">R</h4>
          <p>Years following the events of "The Shining," a now-adult Dan Torrance must protect a young girl with similar powers from a cult known as The True Knot, who prey on children with powers to remain immortal.</p>
          <a href="#" class="btn btn-warning">Go</a>
        </div>
      </div>
        <div class="col-lg-3 col-sm-6">
          <div class="card">
            <img src ="https://www.kinopoisk.ru/images/film_big/1043758.jpg" class="card-img-top">
          </div>
          <div class="card-vody">
            <h4 class="card-title danger">R</h4>
            <p>Years following the events of "The Shining," a now-adult Dan Torrance must protect a young girl with similar powers from a cult known as The True Knot, who prey on children with powers to remain immortal.</p>
            <a href="#" class="btn btn-warning">Go</a>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <div class="card">
            <img src ="https://www.kinopoisk.ru/images/film_big/1278185.jpg" class="card-img-top">
          </div>
          <div class="card-vody">
            <h4 class="card-title danger">R</h4>
            <p>Years following the events of "The Shining," a now-adult Dan Torrance must protect a young girl with similar powers from a cult known as The True Knot, who prey on children with powers to remain immortal.</p>
            <a href="#" class="btn btn-warning">Go</a>
          </div>
        </div>
  </div>

</div>
<hr>
<div class="container-fluit padding">
  <div class="row padding">
    <div class="col-lg-3 col-sm-6">
      <div class="card">
        <img src="https://st.kp.yandex.net/images/film_iphone/iphone360_1008445.jpg" class="card-img-top">
      </div>
      <div class="card-vody">
        <h4 class="card-title danger">R</h4>
        <p>Years following the events of "The Shining," a now-adult Dan Torrance must protect a young girl with similar powers from a cult known as The True Knot, who prey on children with powers to remain immortal.</p>
        <a href="#" class="btn btn-warning">Go</a>
      </div>
    </div>
      <div class="col-lg-3 col-sm-6">
        <div class="card">
          <img src="https://www.kinopoisk.ru/images/film_big/627299.jpg" class="card-img-top">
        </div>
        <div class="card-vody">
          <h4 class="card-title">R</h4>
          <p>Years following the events of "The Shining," a now-adult Dan Torrance must protect a young girl with similar powers from a cult known as The True Knot, who prey on children with powers to remain immortal.</p>
          <a href="#" class="btn btn-warning">Go</a>
        </div>
      </div>
        <div class="col-lg-3 col-sm-6">
          <div class="card">
            <img src ="https://www.kinopoisk.ru/images/film_big/1007049.jpg" class="card-img-top">
          </div>
          <div class="card-vody">
            <h4 class="card-title danger">R</h4>
            <p>Years following the events of "The Shining," a now-adult Dan Torrance must protect a young girl with similar powers from a cult known as The True Knot, who prey on children with powers to remain immortal.</p>
            <a href="#" class="btn btn-warning">Go</a>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <div class="card">
            <img src ="http://images6.fanpop.com/image/photos/43000000/Frozen-2-New-Poster-elsa-the-snow-queen-43025916-900-1346.jpg" class="card-img-top">
          </div>
          <div class="card-vody">
            <h4 class="card-title danger">R</h4>
            <p>Years following the events of "The Shining," a now-adult Dan Torrance must protect a young girl with similar powers from a cult known as The True Knot, who prey on children with powers to remain immortal.</p>
            <a href="#" class="btn btn-warning">Go</a>
          </div>
        </div>
  </div>

</div>
{% endblock %}
